<hr>
<div class="row">
    <div class="col-sm-12">
        <div class="text-center">
            &copy;2015 - 20018 Yavor Grancharov &nbsp;|&nbsp; Source <a target="_blank" href="https://github.com/YavorGrancharov/fitsys.github.io"><span>code</span></a>
        </div>
        <!--<div class="text-center">
            <a target="_blank" href="https://github.com/YavorGrancharov"><i style="font-size:35px" class="fa">&#xf092;</i></a>
        </div>-->
    </div>
</div>
{{#if isAuth}}
    <a href="#/logout"><button type="submit" class="btn btn-danger pull-right"><i class="glyphicon glyphicon-log-out"></i> Logout</button></a>
{{/if}}