<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
        <div class="text-center">
            &copy;2015 - 20018 Calculator by Yavor Grancharov
        </div>
        <div class="text-center">
            <a target="_blank" href="https://github.com/YavorGrancharov"><i style="font-size:35px" class="fa">&#xf092;</i></a>
        </div>
    </div>
</div>
{{#if isAuth}}
    <hr><a href="#/logout"><button type="submit" class="btn btn-danger pull-right">Logout</button></a>
{{/if}}