<div class="container-fluid" id="nav">
    <ul class="nav nav-tabs text-center">
        <li class="active"><a href="#/accounting">Accounting System</a></li>
        <li><a href="#/lbm">LBM Calc</a></li>
        <li><a href="#/fat">Fat Calc</a></li>
        <li><a href="#/endurance">Endurance</a></li>
        <li><a href="#/strength">Strength Endurance</a></li>
        <li><a href="#/client">Add Client</a></li>
        <li><a href="#/register">Register Trainer</a></li>
        <li><a href="#/card">Add Card</a></li>
    </ul>
</div>