<div class="container-fluid" id="nav">
    <div class="btn-group">
        <a href="#/accounting">
            <button type="submit" class="btn btn-info">Active</button>
        </a>
        <a href="#/client">
            <button type="submit" class="btn btn-info">Add Client</button>
        </a>
        <a href="#/card">
            <button type="submit" class="btn btn-info">Add Card</button>
        </a>
        <a href="#/activeClients">
            <button type="submit" class="btn btn-info">Clients</button>
        </a>
        <a href="#/inactiveCards">
            <button type="submit" class="btn btn-info">Expired</button>
        </a>
        <a href="#/register">
            <button type="submit" class="btn btn-info">Register Trainer</button>
        </a>
    </div>
    <br><br>
    <div class="btn-group">
        <a href="#/fat">
            <button type="submit" class="btn btn-info">Fat Calc</button>
        </a>
        <a href="#/lbm">
            <button type="submit" class="btn btn-info">LBM Calc</button>
        </a>
        <a href="#/endurance">
            <button type="submit" class="btn btn-info">Endurance</button>
        </a>
        <a href="#/strength">
            <button type="submit" class="btn btn-info">Strength Endurance</button>
        </a>
    </div>
</div>