<div class="container-fluid" id="nav">
    <div class="btn-group">
        <a href="#/accounting">
            <button type="submit" class="btn btn-info">Cards</button>
        </a>
        <a href="#/lbm">
            <button type="submit" class="btn btn-info">LBM Calc</button>
        </a>
        <a href="#/client">
            <button type="submit" class="btn btn-info">Add Client</button>
        </a>
        <a href="#/card">
            <button type="submit" class="btn btn-info">Add Card</button>
        </a>
        <a href="#/register">
            <button type="submit" class="btn btn-info">Register Trainer</button>
        </a>
    </div>
    <br><br>
    <div class="btn-group">
        <a href="#/fat">
            <button type="submit" class="btn btn-info">Fat Calc</button>
        </a>
        <a href="#/endurance">
            <button type="submit" class="btn btn-info">Endurance</button>
        </a>
        <a href="#/strength">
            <button type="submit" class="btn btn-info">Strength Endurance</button>
        </a>
    </div>
</div>





<!--<div class="container-fluid" id="nav">
    <ul class="nav nav-tabs text-center">
        <li class="active"><a href="#/accounting">Accounting System</a></li>
        <li><a href="#/lbm">LBM Calc</a></li>
        <li><a href="#/fat">Fat Calc</a></li>
        <li><a href="#/endurance">Endurance</a></li>
        <li><a href="#/strength">Strength Endurance</a></li>
        <li><a href="#/client">Add Client</a></li>
        <li><a href="#/card">Add Card</a></li>
        <li><a href="#/register">Register Trainer</a></li>
    </ul>
</div>-->