<div class="container-fluid" id="accounting">
    <h2 class="trainer">{{formatName trainer}}</h2>
    <span class="role">{{role}}</span>
    {{> header}}
    <div class="container" id="add-client">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Register new client</strong>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <form action="#/client" method="post">
                            <div class="col-sm-12" id="add-client-form">
                                <div class="row">
                                    <div class="col-sm-8 form-group">
                                        <label>Full Name</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i
                                                    class="glyphicon glyphicon-user"></i></span>
                                            <input type="text" placeholder="First and Last Name" class="form-control"
                                                   id="name-reg">
                                        </div>
                                    </div>
                                    <div class="col-sm-4 form-group">
                                        <label>Sex</label>
                                        <div class="dropdown">
                                            <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-option-vertical"></i>
                                            </span>
                                                <label for="sex-reg"></label>
                                                <select class="form-control" name="sex-reg" id="sex-reg">
                                                    <option value="" class="default-sex" selected></option>
                                                    <option value="male" class="male">Male</option>
                                                    <option value="female" class="female">Female</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 form-group">
                                        <label>Height</label>
                                        <div class="dropdown">
                                            <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-option-vertical"></i>
                                            </span>
                                                <label for="height-reg"></label>
                                                <select class="form-control" name="height-reg" id="height-reg">
                                                    <option value="0" selected>0</option>
                                                    <option value="140">140</option>
                                                    <option value="141">141</option>
                                                    <option value="142">142</option>
                                                    <option value="143">144</option>
                                                    <option value="145">145</option>
                                                    <option value="146">146</option>
                                                    <option value="147">147</option>
                                                    <option value="148">148</option>
                                                    <option value="149">149</option>
                                                    <option value="150">150</option>
                                                    <option value="151">151</option>
                                                    <option value="152">152</option>
                                                    <option value="153">153</option>
                                                    <option value="154">154</option>
                                                    <option value="155">155</option>
                                                    <option value="156">156</option>
                                                    <option value="157">157</option>
                                                    <option value="158">158</option>
                                                    <option value="159">159</option>
                                                    <option value="160">160</option>
                                                    <option value="161">161</option>
                                                    <option value="162">162</option>
                                                    <option value="163">163</option>
                                                    <option value="163">164</option>
                                                    <option value="165">165</option>
                                                    <option value="166">166</option>
                                                    <option value="167">167</option>
                                                    <option value="168">168</option>
                                                    <option value="169">169</option>
                                                    <option value="170">170</option>
                                                    <option value="171">171</option>
                                                    <option value="172">172</option>
                                                    <option value="173">173</option>
                                                    <option value="174">174</option>
                                                    <option value="175">175</option>
                                                    <option value="176">176</option>
                                                    <option value="177">177</option>
                                                    <option value="178">178</option>
                                                    <option value="179">179</option>
                                                    <option value="180">180</option>
                                                    <option value="181">181</option>
                                                    <option value="182">182</option>
                                                    <option value="183">183</option>
                                                    <option value="184">184</option>
                                                    <option value="185">185</option>
                                                    <option value="186">186</option>
                                                    <option value="187">187</option>
                                                    <option value="188">188</option>
                                                    <option value="189">189</option>
                                                    <option value="190">190</option>
                                                    <option value="191">191</option>
                                                    <option value="192">192</option>
                                                    <option value="193">193</option>
                                                    <option value="194">194</option>
                                                    <option value="195">195</option>
                                                    <option value="196">196</option>
                                                    <option value="197">197</option>
                                                    <option value="198">198</option>
                                                    <option value="199">199</option>
                                                    <option value="200">200</option>
                                                    <option value="201">201</option>
                                                    <option value="202">202</option>
                                                    <option value="203">203</option>
                                                    <option value="204">204</option>
                                                    <option value="205">205</option>
                                                    <option value="206">206</option>
                                                    <option value="207">207</option>
                                                    <option value="208">208</option>
                                                    <option value="209">209</option>
                                                    <option value="210">210</option>
                                                    <option value="211">211</option>
                                                    <option value="212">212</option>
                                                    <option value="213">213</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 form-group">
                                        <label>Wrist Girth</label>
                                        <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-option-vertical"></i>
                                        </span>
                                            <label for="wrist-reg"></label>
                                            <select class="form-control" name="wrist-reg" id="wrist-reg">
                                                <option value="0">0</option>
                                                <option value="11">11</option>
                                                <option value="11.5">11.5</option>
                                                <option value="12">12</option>
                                                <option value="12.5">12.5</option>
                                                <option value="13">13</option>
                                                <option value="13.5">13.5</option>
                                                <option value="14">14</option>
                                                <option value="14.5">14.5</option>
                                                <option value="15">15</option>
                                                <option value="15.5">15.5</option>
                                                <option value="16">16</option>
                                                <option value="16.5">16.5</option>
                                                <option value="17">17</option>
                                                <option value="17.5">17.5</option>
                                                <option value="18">18</option>
                                                <option value="18.5">18.5</option>
                                                <option value="19">19</option>
                                                <option value="19.5">19.5</option>
                                                <option value="20">20</option>
                                                <option value="20.5">20.5</option>
                                                <option value="21">21</option>
                                                <option value="21.5">21.5</option>
                                                <option value="22">22</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 form-group">
                                        <label>Ankle Girth</label>
                                        <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-option-vertical"></i>
                                        </span>
                                            <label for="ankle-reg"></label>
                                            <select class="form-control" name="ankle-reg" id="ankle-reg">
                                                <option value="0">0</option>
                                                <option value="11">11</option>
                                                <option value="11.5">11.5</option>
                                                <option value="12">12</option>
                                                <option value="12.5">12.5</option>
                                                <option value="13">13</option>
                                                <option value="13.5">13.5</option>
                                                <option value="14">14</option>
                                                <option value="14.5">14.5</option>
                                                <option value="15">15</option>
                                                <option value="15.5">15.5</option>
                                                <option value="16">16</option>
                                                <option value="16.5">16.5</option>
                                                <option value="17">17</option>
                                                <option value="17.5">17.5</option>
                                                <option value="18">18</option>
                                                <option value="18.5">18.5</option>
                                                <option value="19">19</option>
                                                <option value="19.5">19.5</option>
                                                <option value="20">20</option>
                                                <option value="20.5">20.5</option>
                                                <option value="21">21</option>
                                                <option value="21.5">21.5</option>
                                                <option value="22">22</option>
                                                <option value="22.5">22.5</option>
                                                <option value="23">23</option>
                                                <option value="23.5">23.5</option>
                                                <option value="24">24</option>
                                                <option value="24.5">24.5</option>
                                                <option value="25">25</option>
                                                <option value="25.5">25.5</option>
                                                <option value="26">26</option>
                                                <option value="26.5">26.5</option>
                                                <option value="27">27</option>
                                                <option value="27.5">27.5</option>
                                                <option value="28">28</option>
                                                <option value="28.5">28.5</option>
                                                <option value="29">29</option>
                                                <option value="29.5">29.5</option>
                                                <option value="30">30</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 form-group">
                                        <label>Born</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            <input type="date" class="form-control" id="date-reg" name="date-reg"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-8 form-group">
                                        <label>Email</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                            <input type="text" placeholder="Email Address" class="form-control"
                                                   id="email-reg">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 form-group">
                                        <label>Phone Number</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                            <input type="text" placeholder="Phone number" class="form-control"
                                                   id="phone-reg">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label>Trainer</label>
                                        <div class="dropdown">
                                            <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-users" aria-hidden="true"></i>
                                            </span>
                                                <label for="trainers"></label>
                                                <select class="form-control" id="trainers" name="trainers">
                                                    {{#each trainers}}
                                                        <option value="{{_id}}">{{formatName name}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 form-group">
                                        <label>Discount</label>
                                        <div class="dropdown">
                                            <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-option-vertical"></i>
                                            </span>
                                                <label for="discount"></label>
                                                <select class="form-control" name="discount" id="discount">
                                                    <option value="1" selected>0</option>
                                                    <option value="0.95">5%</option>
                                                    <option value="0.9">10%</option>
                                                    <option value="0.85">15%</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label>Avatar</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i
                                                    class="glyphicon glyphicon-user"></i></span>
                                            <input type="text" placeholder="Avatar URL" class="form-control"
                                                   id="avatar-reg">
                                        </div>
                                    </div>
                                    <div class="col-sm-2 form-group">
                                        <label>Active</label>
                                        <br>
                                        <label>
                                            <input type="checkbox" id="active" name="active" checked><span
                                                class="label-text"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea id="text-reg" placeholder="Additional client information...."
                                              class="form-control"></textarea>
                                </div>
                                <button type="submit" class="btn btn-success btn-block"><i
                                        class="glyphicon glyphicon-floppy-save"></i> SAVE
                                </button>
                            </div>
                        </form>
                    </div>
                    <br>
                    <a href="javascript:history.back()">
                        <button type="submit" class="btn btn-link pull-left">Go Back</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer}}