<div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input type="text" placeholder="Avatar URL" class="form-control" id="avatar-reg">
</div>