<div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
    <input type="text" placeholder="mm/dd/yyyy" class="form-control" id="date-reg" name="date-reg"/>
    <script>viewController.displayBirthDate()</script>
</div>