<div class="dropdown">
    <div class="input-group">
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-option-vertical"></i>
        </span>
        <label for="discount"></label>
        <select class="form-control" name="discount" id="discount">
            <option value="1" selected></option>
            <option value="0.95">5%</option>
            <option value="0.9">10%</option>
            <option value="0.85">15%</option>
        </select>
    </div>
</div>