<div class="dropdown">
    <div class="input-group">
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-option-vertical"></i>
        </span>
        <label for="duration"></label>
        <select class="form-control" name="duration" id="duration">
            <option value="7" class="week" selected>5 weeks</option>
            <option value="" class="infinity">unlimited</option>
        </select>
    </div>
</div>