<div class="dropdown">
    <div class="input-group">
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-option-vertical"></i>
        </span>
        <label for="duration"></label>
        <select onchange="viewController.calcEndDate()" class="form-control" name="duration" id="duration">
            <option value="35" selected>5 weeks</option>
            <option value="">unlimited</option>
        </select>
    </div>
</div>