<div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
    <input type="text" placeholder="Email Address" class="form-control" id="email-reg">
</div>