<div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
    <input type="text" placeholder="End Date" class="form-control" id="end" value="{{end}}" readonly>
</div>