<div class="dropdown">
    <div class="input-group">
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-option-vertical"></i>
        </span>
        <label for="height-reg"></label>
        <select class="form-control" name="height-reg" id="height-reg">
            <script>
                (() =>{
                    let selector = document.getElementById('height-reg');
                    let option = document.createElement('option');
                    option.innerHTML = 'cm';
                    option.value = 0;
                    selector.appendChild(option);
                    for (let i = 140; i <= 220; i++) {
                        selector.options[selector.options.length] = new Option(i, i);
                    }
                })()
            </script>
        </select>
    </div>
</div>