<div class="dropdown">
    <div class="input-group">
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-credit-card"></i>
        </span>
        <label for="payment"></label>
        <select class="form-control" name="payment" id="payment">
            <option value="0" class="default-qty" selected></option>
            <option value="1" class="one">Whole</option>
            <option value="0.5" class="half">Half</option>
        </select>
    </div>
</div>