<div class="dropdown">
    <div class="input-group">
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-option-vertical"></i>
        </span>
        <label for="qty"></label>
        <select onchange="calcPrice()" class="form-control" name="qty" id="qty">
            <option value="0.5">1</option>
            <option value="1" selected>2</option>
            <option value="1.33">3</option>
            <option value="1.58">4</option>
        </select>
    </div>
</div>