<div class="dropdown">
    <div class="input-group">
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-option-vertical"></i>
        </span>
        <label for="qty"></label>
        <select class="form-control" name="qty" id="qty">
            <option value="0" class="default-qty" selected></option>
            <option value="0.5" class="one">1</option>
            <option value="1" class="two">2</option>
            <option value="1.33" class="three">3</option>
        </select>
    </div>
</div>