<div class="dropdown">
    <div class="input-group">
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-option-vertical"></i>
        </span>
        <label for="sex-reg"></label>
        <select class="form-control" name="sex-reg" id="sex-reg">
            <option value="" class="default-sex" selected></option>
            <option value="male" class="male">Male</option>
            <option value="female" class="female">Female</option>
        </select>
    </div>
</div>