<div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
    <input onchange="viewController.calcEndDate()" autocomplete="off" type="text" placeholder="mm/dd/yyyy" class="form-control" id="start-date" name="start-date"/>
    <script>viewController.displayCardDate()</script>
</div>