<label for="checkbox123" class="label-table"></label>
<input type="checkbox" class="filled-in" id="checkbox123">
<label for="today"></label>
<select id="today">
    <script>
        viewController.dateOptionValues();
    </script>
</select>