<label for="today-select"></label>
<select id="today-select">
    <script>
        (() => {
            let selector = document.getElementById('today-select');
            for (let i = 1; i <= 31; i++) {
                selector.options[selector.options.length] = new Option(i, i);
            }
            let today = new Date();
            let day = today.getDate();
            let month = today.getMonth();
            month = month + 1;
            $(`#today-select option[value="${day}"]`).prop('selected', true);
        })()
    </script>
</select>