<div class="input-group">
    <span class="input-group-addon">
        <i class="glyphicon glyphicon-option-vertical"></i>
    </span>
    <label for="wrist-reg"></label>
    <select class="form-control" name="wrist-reg" id="wrist-reg">
        <script>
            (() =>{
                let selector = document.getElementById('wrist-reg');
                let option = document.createElement('option');
                option.innerHTML = 'cm';
                option.value = 0;
                selector.appendChild(option);
                for (let i = 10; i <= 26; i+=0.5) {
                    selector.options[selector.options.length] = new Option(i, i);
                }
            })()
        </script>
    </select>
</div>