<div class="dropdown">
    <div class="input-group">
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-option-vertical"></i>
        </span>
        <label for="zone"></label>
        <select onchange="viewController.calcPrice()" class="form-control" name="zone" id="zone">
            <option value="1" selected>1</option>
            <option value="0.75">2</option>
            <option value="0.875">3</option>
        </select>
    </div>
</div>