<div class="dropdown">
    <div class="input-group">
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-option-vertical"></i>
        </span>
        <label for="zone"></label>
        <select class="form-control" name="zone" id="zone">
            <option value="0" class="default-zone" selected></option>
            <option value="1" class="one">Active</option>
            <option value="0.75" class="two">Between</option>
            <option value="0.875" class="three">Mixed</option>
        </select>
    </div>
</div>