<div class="input-group">
    <span class="input-group-addon">
        <i class="glyphicon glyphicon-option-vertical"></i>
    </span>
    <a href="#/ankleLBM">
        <label for="ankle-select"></label>
        <select class="form-control"
                name="ankle-select" id="ankle-select">
            <script>
                (() =>{
                    let selector = document.getElementById('ankle-select');
                    let option = document.createElement('option');
                    option.innerHTML = 'Ankle';
                    option.value = 0;
                    selector.appendChild(option);
                    for (let i = 15; i <= 40; i+=0.5) {
                        selector.options[selector.options.length] = new Option(i, i);
                    }
                })()
            </script>
        </select>
    </a>
</div>



