<div class="dropdown">
    <div class="input-group">
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-option-vertical"></i>
        </span>
        <a href="#/heightLBM">
            <label for="height-select"></label>
            <select class="form-control" onchange="viewController.displayCard()" onkeyup="viewController.displayCard()" name="height-select" id="height-select">
                {{> heightOption}}
            </select>
        </a>
    </div>
</div>