<div class="dropdown">
    <div class="input-group">
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-option-vertical"></i>
        </span>
        <a href="#/sexLBM">
            <label for="sex-select"></label>
            <select class="form-control" name="sex-select" id="sex-select">
                <option value="" class="default-sex" selected>Sex</option>
                <option value="male" class="male">Male</option>
                <option value="female" class="female">Female</option>
            </select>
        </a>
    </div>
</div>