<div class="input-group">
    <span class="input-group-addon">
        <i class="glyphicon glyphicon-option-vertical"></i>
    </span>
    <a href="#/wristLBM">
        <label for="wrist-select"></label>
        <select class="form-control"
                name="wrist-select" id="wrist-select">
            <script>
                (() =>{
                    let selector = document.getElementById('wrist-select');
                    let option = document.createElement('option');
                    option.innerHTML = 'Wrist';
                    option.value = 0;
                    selector.appendChild(option);
                    for (let i = 10; i <= 26; i+=0.5) {
                        selector.options[selector.options.length] = new Option(i, i);
                    }
                })()
            </script>
        </select>
    </a>
</div>

