.container {
    margin: 0 auto;
}

#main {
    padding-top: 4%;
}

#card {
    padding-top: 4%;
    margin: 0 auto;
}

#nav {
    margin: auto;
    padding-top: 4%;
}

.text-center a span:hover {
    font-weight: bold;
    font-variant-caps: titling-caps;
    text-transform: uppercase;
}

#login {
    padding-top: 4%;
}

#register {
    padding-top: 4%;
}

#client {
    cursor: pointer;
}

#sex-select {
    cursor: pointer;
}

/*#height {
    display: none;
}*/

#height-select {
    cursor: pointer;
}

/*#circumference {
    display: none;
}*/

#wrist-select {
    cursor: pointer;
    display: inline-block;
}

#ankle-select {
    cursor: pointer;
    display: inline-block;
}

#add {
    cursor: pointer;
}

#fat-select {
    cursor: pointer;
}

#header {
    color: black;
}

#left {
    display: none;
}

#client-info {
    -webkit-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

#register-form {
    -webkit-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

#login-form {
    -webkit-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

#inputForm {
    -webkit-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

#inputForm > fieldset > div > div > div:nth-child(2) > div > div > span > i {
    color: inherit;
}

#outputForm > fieldset > div > div > div > div > span > i {
    color: inherit;
}

.panel-heading {
    text-align: center;
}

.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.client-img {
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
    display: block;
    margin: 0 auto;
    clear: both;
}



#sex-select:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#height-select:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#wrist-select:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#ankle-select:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#search:hover {

}

#client:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

/**h1:hover {
    color: dodgerblue;
    cursor: pointer;
    text-decoration: underline;
}*/

/*.nav .nav-tabs .active {
    color: #000;
    background: #d65c14;
}

.nav .nav-tabs > .active > a,
.nav .nav-tabs > .active > a:hover,
.nav .navbar-nav > .active > a:focus {
    color: #000;
    background: #d65c14;
}
