<div class="row" id="login">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Enter to our fitness system</strong>
            </div>
            <div class="panel-body">
                <form action="#/login" method="post" id="loginForm" class="form-group" role="form">
                    <fieldset id="login-form">
                        <div class="row">
                            <div class="center-block">
                                <img class="profile-img" src="http://i65.tinypic.com/2yjplpv.png" alt=""><!--http://i65.tinypic.com/2yjplpv.png-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                                <div class="form-group">
                                    <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-user"></i>
                                            </span>
                                        <input type="text" class="form-control" id="username-login" name="username-login" placeholder="Username" autocomplete="off" value="admin" autofocus required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-lock"></i>
                                            </span>
                                        <input type="password" class="form-control" id="password-login" name="password-login" placeholder="Password" value="sagittarius79" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" id="btnLogin" class="btn btn-lg btn-primary btn-block">Login</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <br>
                <a href="#/resetPass">
                    <button type="submit" class="btn btn-link pull-left">Reset Password!</button>
                </a>
            </div>
        </div>
    </div>
</div>

{{> footer}}







