<div class="log-in">
    <div class="row" id="login">
        <h2 class="h2">Login</h2>
        <form action="#/login" method="post" id="loginForm">
            <div class="row">
                <img class="profile-img" src="http://i65.tinypic.com/2yjplpv.png" alt="">
            </div>
            <fieldset id="field-login">
                <div class="row">
                    <label for="username-login">Username</label>
                    <input type="text" name="username-login" value="guest" id="username-login" placeholder="Username">
                </div>
                <div class="row">
                    <label for="password-login">Password</label>
                    <input type="password" name="password-login" placeholder="Password" value="guest" id="password-login">
                </div>
                <div class="btn">
                    <input type="submit" id="btnLogin">
                </div>
            </fieldset>
        </form>
    </div>
</div>
{{> footer}}