<ul class="nav nav-tabs">
    <li class="active"><a href="#/lbm">LBM Calc</a></li>
    <li><a href="#/fat">Fat Calc</a></li>
    <li><a href="#/accounting">Accounting System</a></li>
    <li><a href="#/endurance">Endurance Calc</a></li>
    <li><a href="#/strength">Strength Calc</a></li>
</ul>

{{> footer}}