{{> header}}

<div class="container" id="card">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Welcome: {{formatName trainer}}</strong>
            </div>
            <div class="panel-body">
                <div class="row">
                    <form action="#/card" method="post">
                        <div class="col-sm-12" id="add-card-form">
                            <div class="row">
                                <div class="col-sm-8 form-group">
                                    <label>Clients</label>
                                    <div class="dropdown">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-users" aria-hidden="true"></i>
                                            </span>
                                            <label for="client-card"></label>
                                            <select onchange="viewController.calcPrice()" class="form-control" id="client-card" name="client-card">
                                                <option value="client" class="default-search" selected>Client:</option>
                                                {{#each clients}}
                                                    {{> client}}
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label>Times per week</label>
                                    {{> qty}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 form-group">
                                    <label>Zone</label>
                                    {{> zone}}
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label>Price</label>
                                    {{> price}}
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label>Payment</label>
                                    {{> payment}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 form-group">
                                    <label>Start Date</label>
                                    {{> start}}
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label>End Date</label>
                                    {{> end}}
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label>Duration</label>
                                    {{> duration}}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success btn-block"><i
                                    class="glyphicon glyphicon-floppy-save"></i> SAVE
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <a href="javascript:history.back()">Go Back</a>
        </div>
    </div>
</div>

{{> footer}}